@charset "UTF-8";
@use "sass:math";
@import "./scss_init.scss";

.wap-hd-nav{
    display: none;
}

@media screen and (max-width: 991px){
    
    .wap-hd-nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        background-color: $color;
    }

    .wap-hd-nav-item{
        width: 25%;
        
        a{
            display: block;
            padding: 5px 0;
            line-height: 20px;
            font-size: 14px;
            color: white;
            text-align: center;
            background-color: #363636;

            &.active{
                color: white;
                background-color: $color;
            }
        }
    }
}

// .m-mobilenav start
.m-mobilenav{
    display: none;
}

@media screen and (max-width: 991px){
    .m-mobilenav{
        position: fixed;
        z-index: 11;
        padding: {
            top: 25px;
        };
        top: 0;
        right: 0;
        display: block;
        box-sizing: border-box;

        .mbnav-btn{
            position: absolute;
            z-index: 2;
            top: 10px;
            right: 17px;
            width: 26px;
            @include transition();
            
            .line{
                width: 100%;
                height: 2px;
                background-color: $color;
            }

            .line2{
                margin: {
                    top: 6px;
                    bottom: 6px;
                };
            }
            
            &.active{
                transform: rotate(90deg);
            }
        }

        .mbnav-bd{
            position: absolute;
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            top: 0;
            visibility: hidden;
            z-index: 1;
            
            &.show{
                visibility: visible;

                .mbnav-wp{
                    height: 100%;
                    opacity: 1;
                }

                .mbnav-item{
                    >a{
                        opacity: 1;
                        transform: scale(1) translate(0, 0);
                    }
                }
            }
        }

        .mbnav-wp{
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 0;
            background-color: #333;
            top: 0;
            @include transition();
            opacity: 0;
        }

        .mbnav-fix{
            position: absolute;
            right: 0;
            top: 60px;
            height: calc(100% - 60px);
            width: 100%;
            box-sizing: border-box;
            overflow-y: scroll;
        }

        .mbnav-item{
            position: relative;
            padding: {
                left: 44px;
                right: 24px;
                top: 10px;
                bottom: 10px;
            };

            i{
                position: absolute;
                left: 13px;
                top: 12px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                background-color: #333;
                @include font-size(20);
                color: #fff;
                cursor: pointer;
            }

            >a{
                display: block;
                line-height: 26px;
                @include font-size(16);
                color: #fff;
                transform: scale(1.1) translate(60px, -35px);
                opacity: 0;
                transition: .5s .1s;
          
                &.current{
                    &:after{
                        content: "";
                        margin-left: 5px;
                        @include inline-block();
                        vertical-align: middle;
                        width: 6px;
                        height: 6px;
                        background-color: #fff;
                        border-radius: 50%;
                        @include transition();
                    }
                }

                &.active{
                    color: $color;

                    &:after{
                        background-color: $color;
                    }
                }
            }

            
            @for $i from 1 to 8 {
                 &:nth-child(#{$i}){
                     >a{
                         transition-delay: 200ms + ($i * 50);
                     }
                 }   
            }
        }

        .mbsbnav-list{
            padding: 10px 0;
            display: none;
        }

        .mbsbnav-item{
            position: relative;
            padding: {
                left: 20px;
                right: 5px;
            };

            i{
                left: 0;
                top: 6px;
                line-height: 24px;
            }

            a{
                display: block;
                padding: 5px 5px;
                line-height: 24px;
                @include font-size(14);
                color: #fff;

                &.active{
                    color: $color;
                }
            }
        }
    }
}

// .m-mobilenav end