@use "sass:math";

//公共变量
$width: 1400px;

$color: #333;

@mixin float($value: left){
    float: $value;
}

@mixin margin($top: 0, $right: auto, $bottom: 0, $left: auto){
    margin: {
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
    };
}

@mixin transition($type: all, $time: 500ms){
    transition: $type $time;
}

@mixin font-size($value: 16){
    font-size: $value + 0px;
    font-size: math.div($value, 10) + 0rem;
}

@mixin placeholder($color: #333){  
    &::-webkit-input-placeholder{
        color:$color;
        opacity: 1;
    }
    &:-moz-placeholder{  
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder{  
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder{  
        color:$color;
        opacity: 1;
    }
}

@mixin inline-block(){
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@function get_w($w, $max: 1400, $b: 100){
    @return math.div($w, $max) * $b + 0%;
}

@function get_vw($size, $media: 1920) {
	@return math.div($size, $media) * 100vw;
}