@charset "UTF-8";
@use "sass:math";
@import "./scss_init.scss";

//公共样式文件
::selection {
    color: #fff;
    background: $color;
}

* {
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%; 
    scroll-behavior: smooth;
}

body {
    margin: {
        left: auto;
        right: auto;
    };
    width: 100%;
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    @include font-size;
    color: #333;
	line-height: 1.2;
	background-color: #fff;
}

@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:100%}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:100%}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:100%}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:100%}}

a {
    color: #333;
    text-decoration: none;
    outline: none;
    tap-highlight-color: transparent;
    focus-ring-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    -moz-tap-highlight-color: transparent;
    -moz-focus-ring-color: transparent;
    @include transition;

    &:hover{
        color: $color;
    }
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    border: 0px solid #ccc;
	height: auto;
}

table, embed, video {
    max-width: 100%;
}

input, textarea{
    border: none;
    background: none;
	font-family: inherit;

    &:focus{
        outline: none;
    }
}

input{
        
    &[type="button"]{
        cursor: pointer;
    }
        
    &[type="submit"]{
        cursor: pointer;
    }
    
    &[type="checkbox"]{
        cursor: pointer;
    }
    
    &[type="radio"]{
        cursor: pointer;
    }
    
}

input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}

textarea{
    resize: none;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

em,i{
    font-style: normal;
}

    
/* .c-xx start */
.c-cb{
    clear: both;
}

.c-clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

.c-mg{
    @include margin;
}

.c-oh{
    overflow: hidden;
}

.c-tsn{
    @include transition;
}

.c-pr{
    position: relative;
} 

.c-nomg{
    margin: 0 !important;
}  

.c-nopd{
    padding: 0 !important;
}   

.c-nofont{
    line-height: 0;
    font-size: 0;
} 

.c-nobg{
    background: none !important;
}	

.c-scrollbar{
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 4px;   
        border-radius: 2px;  
        background-color: #dddddd;  
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;  
        background-color: $color;  
    }
}

/* .c-xx end */

/* .f-xx start */
.f-box{
	width: calc(100% - 200px);
	max-width: $width;
    margin: {
        left: auto;
        right: auto;
    };
}

@media screen and (max-width:991px){
    .f-box{
        max-width: 96%;
        width: 100%;
    }
}

.g-bd{
    margin: {
        left: auto;
        right: auto;
    };
    max-width: 1920px;
    width: 100%;
}

.banner{
    img{
        width: 100%;
    }
}

/* .f-xx end */

/* @keyframes start */

@keyframes boxshadown{
  0%{
    box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.2);
  }

  100%{
    box-shadow: 0 0 0 15px rgba(51, 51, 51, 0);
  }
}

/* @keyframes end */

/* .an-xx start */

.an-hoverimg-xy{
    position: relative;
    overflow: hidden;
    
    &:before, &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: .1);

        @include transition();
        visibility: hidden;
    }

    &:before{
        z-index: 2;
        transform: scaleX(0);
    }

    &:after{
        z-index: 1;
        transform: scaleY(0);
    }

    img{
        @include transition();
    }

    &:hover{
        img{
            transform: scale(1.1);
        }

        &:before{
            visibility: visible;
            transform: scaleX(1);
        }
        &:after{
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

.an-hoverbtn-beforex{
    position: relative;

    em, span, i{
        position: relative;
    }

    &:before{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        background-color: $color;
        @include transition();
    }

    &:hover{
        color: #fff;

        &:before{
            transform: scaleX(1);
        }
    }
}

.an-boxsd:hover{
  animation: boxshadown 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

/* .an-xx end */

/* .m-xx start */
.m-desc{
    @include font-size(16);
    line-height: 30px;

    a{
        color: $color;
        
        &:hover{
            text-decoration: underline;
        }
    }
    
	p{
		min-height: 30px;
	}
    
    img{ 
        max-width: 100%; 
    }
    
    iframe{ 
        display: block; 
        max-width: 100%; 
        margin: 0 auto;
    }
    
    table{ 
        width:100%; 
        border-collapse:collapse; 
        line-height:22px; 
        border:1px solid #ccc; 
        margin-left:auto; 
        margin-right:auto;
    }
    
    table tr td{ 
        padding:10px; 
        border:1px solid #ccc; 
        background:#fff;
        font-size:14px;
        font-size:1.4rem;
    } 
	
	@media screen and (max-width: 1219px){
		@include font-size(14);
		line-height: 24px;

		a{
			color: $color;
			
			&:hover{
				text-decoration: underline;
			}
		}
		
		p{
			min-height: 24px;
		}
	}
        
}    

.table table{ 
	width:100%; 
	border-collapse:collapse; 
	border:1px solid #ccc;
}

.table table tr td{ 
	padding:10px; 
	border:1px solid #ccc;
    word-break: break-word;
}

@media screen and (max-width: 991px){

	.table{ 
		width:100%;  
		overflow-x:auto;
        
        table{
            min-width: 640px;
        }
	}
}

.m-ftname{
    display: none;
    line-height: 24px;
    @include font-size(18);
    position: relative;
    padding-right: 20px;
    max-width: 300px;

    &:after{
        content: "+";
        position: absolute;
        right: 0;
        top: 0;
    }

    &.active{
        &:after{
            content: "-";
        }
    }

    @media screen and (max-width: 767px){
        display: block;
        margin-bottom: 10px;
    }
}
/* .m-xx end */

/* .j-xx start */
.j-offset-top{
    @include transition(all, 750ms);
    transform: translateY(100px);
    opacity: 0;

    &.run{
        transform: translateY(0);
        opacity: 1;
    }
		
	@media screen and (max-width: 991px){
		transform: none !important;
	}
}

.j-offset-left{
    @include transition(all, 750ms);
    transform: translateX(100px);
    opacity: 0;

    &.run{
        transform: translateX(0);
        opacity: 1;
    }
		
	@media screen and (max-width: 991px){
		transform: none !important;
	}
}

.j-offset-right{
    @include transition(all, 750ms);
    transform: translateX(-100px);
    opacity: 0;

    &.run{
        transform: translateX(0);
        opacity: 1;
    }
		
	@media screen and (max-width: 991px){
		transform: none !important;
	}
}

.j-fadein{
    @include transition(all, 750ms);
    opacity: 0;

    &.run{
        transform: translateX(0);
        opacity: 1;
    }
		
	@media screen and (max-width: 991px){
		transform: none !important;
	}
}

.j-lazy{
    width: 100%;
}
/* .j-xx end */

[class*="-item"]{
    
    .item-pic{
        position: relative;
        display: block;
        line-height: 0;
        font-size: 0;
        text-align: center;
        overflow: hidden;

        img{
            @include transition;
        }

        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }

    .item-title{
        overflow: hidden;
    }

    .item-desc{
        overflow: hidden;
    }
}

.at-resp-share-element .at4-share-count-container {
    text-decoration: none;float: right; padding-right: 15px;line-height: 25px !important;
}
.at-resp-share-element .at-icon{width: 24px!important;height: 24px!important;}
.at-style-responsive .at-share-btn{padding: 0!important; border-radius: 2px!important;}
.at-resp-share-element .at-share-btn .at-icon-wrapper{width: 24px!important;height: 24px!important;}
.at-resp-share-element .at-share-btn{margin-bottom: 0!important;margin-right: 3px!important;}
.at-resp-share-element .at-icon{width: 24px!important;height: 24px!important;}
.at-style-responsive .at-share-btn{padding: 0!important; border-radius: 2px!important;}
.at-resp-share-element .at-share-btn .at-icon-wrapper{width: 24px!important;height: 24px!important;}
.at-resp-share-element .at-share-btn{margin-bottom: 0!important;margin-right: 3px!important;}

// .m-crm start
.m-crm{
    padding-top: 10px;
    line-height: 30px;
    @include font-size(14);
    color: #666;

    a{
        color: #666;

        &:hover{
            color: $color;
        }

    }

    .active{
        color: $color;
    }
}
// .m-crm end

// .m-oths start
.m-oths{
    margin: {
        top: 18px;
    };

    .oths-item{
        padding: {
            left: 22px;
        };
        height: 20px;
        line-height: 20px;
        @include font-size(14);
        color: #666666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-repeat: no-repeat;
        background-position: left center;

        a{
            color: #666;

            &:hover{
                color: $color;
            }          
        }
    }

    .oths-item-1{
        margin-bottom: 12px;
        background-image: url('../images/oths1.png');
    }

    .oths-item-2{
        background-image: url('../images/oths2.png');
    }
}
// .m-oths end

//.m-page start
.m-page{
    margin-top: 65px;
    letter-spacing: 0;
    font-size: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    
    a, span{
        margin: {
            left: 5px;
            right: 5px;
            bottom: 5px;
        };
        @include inline-block();
        min-width: 35px;
        height: 30px;
        line-height: 28px;
        @include font-size(14);
        color: #333;
        text-align: center;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        @include transition;
        padding: 0 5px;
    }

    .big{
        min-width: 84px;
    }

    a{
                
        &:hover, &.active{
            color: white;
            border-color: $color;
            background-color: $color;
        }
        
    }

    .page-form{
        margin-left: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .form-btn{
        min-width: 150px;
        line-height: 30px;
        height: 30px;
        padding: 0 20px;
        @include font-size(14);
        color: #fff;
        box-sizing: border-box;
        background-color: $color;
    }
}

.m-page2{
    position: relative;
}

@media screen and (max-width: 1219px){
    .m-page{
        margin-top: 35px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        a, span{
            margin: {
                left: 5px;
                right: 5px;
                bottom: 10px;
            };
        }
    }  
}
//.m-page end

// .m-kf start
.m-kf{
    position: fixed;
    z-index: 10;
    right: 0;
    top: 30%;

    .kf-item{
		position: relative;
        display: block;
        line-height: 0;
        font-size: 0;
        width: 50px;
        line-height: 50px;
        margin-bottom: 1px;
        @include font-size(20);
        color: #fff;
        text-align: center;
        background-color: #2d2d27;
        border-radius: 5px;

        &:hover{
            color: #fff;
            background-color: $color;
        }

        &.active{
            background-color: $color;
        }
    }

    .kf-wx{
        position: absolute;
        display: none;
        bottom: 0 ;
        right: 100%;
        width: 120px;
		font-size: 0;
		line-height: 0;
    }

    .gotop{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .m-kf{
        right: 0;
        top: auto;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        background-color: #2d2d27;

        .kf-item{
            width: 20%;
            text-align: center;
            line-height: 50px;
            @include font-size(20);
            background-color: #2d2d27 !important;
        }
		
		.kf-item2{
			position: static;
		}

        .kf-wx{
            bottom: 100%;
            right: auto;
            left: 0;
            width: 100vw;
            text-align: center;
            background-color: #fff;
        }

        .gotop{
            width: 20%;
            line-height: 50px;
            @include font-size(20);
            color: #fff;
            text-align: center;
            display: block;
        }
    }

    .g-ft{
        padding-bottom: 53px;
    }
}
// .m-kf end
// .returntop start
.returntop{
    position: fixed;
    *position: absolute;
    z-index: 9;
    right: 6px;
    bottom: 150px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    @include font-size(18);
    color: #fff;
    text-align: center;
    background-color: $color;
    border-radius: 5px;
    display: none;

    &:hover{
        color: #fff;
        background-color: $color;
    }
      
}

@media screen and (max-width: 991px){
    .returntop{
        display: none !important;
    }
}
// .returntop end
// .j-videoshow start
.j-videomodal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba($color: #000000, $alpha: .5);
    display: none;

    iframe{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 600px;
        max-width: 90%;
        max-height: 80%;
    }

    &:after{
        content: "+";
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;
        line-height: 1;
        @include font-size(30);
        transform: rotate(45deg);
        cursor: pointer;
        color: #fff;
    }
}
// .j-videoshow end
