    <!-- .banner start -->
    <div class="banner <%= !isHome ? 'hide' : '' %>">
        <div class="swiper">
            <div class="swiper-wrapper">
                <% for(var i = 0; i < 3; i++){ %>
                    <div class="swiper-slide">
                        <a href="" title="">
                            <img class="banner-img" src="./images/banner-1.jpg">
                        </a>
                    </div>    
                <% } %>
            </div>
            <div class="swiper-button-prev">
                <i class="iconfont icon-left1"></i>
            </div>
            <div class="swiper-button-next">
                <i class="iconfont icon-right1"></i>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>    
    <script>
        var swiper = new Swiper(".banner .swiper", {
            slidesPerView: 1,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
            },
        });
    </script>
    <!-- .banner end -->