    <!-- .banner start -->
    <div class="banner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <% for(var i = 0; i < 3; i++){ %>
                    <div class="swiper-slide">
                        <a href="" title="">
                            <img class="banner-img" src="./images/banner-1.jpg" width="100%">
                        </a>
                    </div>    
                <% } %>
            </div>
            <div class="swiper-button-prev box-btn prev">
                <i class="iconfont icon-left1"></i>
            </div>
            <div class="swiper-button-next box-btn next">
                <i class="iconfont icon-right1"></i>
            </div>
            <div class="swiper-pagination box-page"></div>
        </div>
    </div>    
    <!-- <style>
        .banner{
            padding-top: 56.25%;
            position: relative;
            z-index: 2;
            overflow: hidden;
        }

        .banner .swiper{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }        
        @media screen and (max-width: 767px){
            .banner{
                padding-top: 56.25%;
            }
        }
    </style>    -->
    <script>
        var swiper = new Swiper(".banner .swiper", {
            slidesPerView: 1,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
        });
    </script>
    <!-- .banner end -->