    <% if(type == 1){ %>
    <div class="m-page">
        <a class="big" href="" title="">Previous</a>
        <a class="active" href="" title="">1</a>
        <a href="" title="">2</a>
        <a href="" title="">3</a>
        <a href="" title="">4</a>
        <a href="" title="">5</a>
        <a class="big" href="" title="">Next</a>
    </div>
    <% }else{ %>
    <div class="m-page m-page2">
        <a class="big" href="" title="">Previous</a>
        <a class="active" href="" title="">1</a>
        <a href="" title="">2</a>
        <a href="" title="">3</a>
        <a href="" title="">4</a>
        <a href="" title="">5</a>
        <a class="big" href="" title="">Next</a>
        <div class="page-form">
            <input class="form-btn" type="submit" value="Add to Inquiry List">
        </div>
    </div>
    <% } %>